* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #272343;
    background-color: #8266bf;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    border-radius: 30px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 90vw;
    justify-content: start;
    background-color: #ffffff;
} 
.small-container {
    background-color: #ffffff;
    margin: 15px;
    /* width: 80%; */
    text-align: center;
    justify-content: center;
    align-self: center;
    /* border-radius: 30px; */
}
.write{
    padding: 15px;
    /* height: 70px; */
    box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-webkit-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-moz-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
}
.form {
    padding: 5px;
    /* height: 20%; */
    box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-webkit-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-moz-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
}
.output {
    box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-webkit-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-moz-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
    padding: 15px;
    height: 18%;
    width: 55%;
    
}
input {
    padding: 10px;
}
.button {
    cursor: pointer;
}
.button:hover { 
    background-color: #fff0f0;
    color: #f88ba2;
  }
  #fizzbuzz{
    color: #8266bf;
  }
  #prime {
    color: #f76b8a;
  }
.contaner-for-pics {
    /* background-color: #e6e4e4; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 40px; */
    height: 18%;
    width: 30%;
    /* box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-webkit-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-moz-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24); */
}
.pic {
    height: 120px; 
    width: 120px; 
    /* background-color: #fbfbfb; */
}
.pic1 {
    background-image: url(pic1.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.pic2 {
    background-image: url(pic2.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.pic3 {
    background-image: url(pic3.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
#your-number {
    background-color: #8266bf;
    color: #ffffff;
}
span,.contaner-for-p, #fizzBuzzAnswer, p {
    background-color: #ffffff;
}
.button {
    background-color: #f88ba2;
    color: #ffffff;
}
.pic {
    transition-duration: 0.5s;
    cursor: pointer;
    
}
.pic:hover { 
    box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-webkit-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
-moz-box-shadow: 2px 3px 5px 10px rgba(0,0,0,0.24);
  }

  @media (max-width: 768px) { 
    * { 
        font-size: 20px;
        border-radius: 15px;
    }
    .small-container {
        margin: 10px;
    }
    .write{
        padding: 5px;
    }
    .form {
        padding: 5px;
    }
    .output {
        padding: 10px;
        height: auto;
        width: calc(100% - 40px);
    }
    .contaner-for-pics {
        height: 18%;
        width: 100%;
        justify-content: space-around;
    }
    .pic {
        
        width: 30%; 
        height: auto; 
        margin: 0 ;
        /* background-color: #fbfbfb; */
    }
    .pic1 {
        background-image: url(pic1.png);
        background-repeat: no-repeat, repeat;
        background-size: cover;
    }
    .pic2 {
        background-image: url(pic2.png);
        background-repeat: no-repeat, repeat;
        background-size: cover;
    }
    .pic3 {
        background-image: url(pic3.png);
        background-repeat: no-repeat, repeat;
        background-size: cover;
    }
    #your-number {
        background-color: #8266bf;
        color: #ffffff;
    }
    span,.contaner-for-p, #fizzBuzzAnswer, p {
        background-color: #ffffff;
    }
    .button {
        background-color: #f88ba2;
        color: #ffffff;
    }
    .pic {
        transition-duration: 0.5s;
        cursor: pointer;
        
    }

  }